body{
    background-image: url("img/background_img.jpg");
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.form_header{
    border: 2px solid black;
    padding: 75px 50px 100px 50px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sign_up_header{
    font-size: 52px;
    font-family: "Roboto", serif;
}

button{
    border-radius: 30px;
}